
/*---------------Schrifteinbindung-------------*/
@font-face {
  font-family: "DINPro-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro-Regular"), url("../font/DINPro-Regular.otf") format("otf");
}
@font-face {
  font-family: "DINPro-RegularItalic";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro-RegularItalic"), url("../font/DINPro-RegularItalic.otf") format("otf");
}
@font-face {
  font-family: "DINPro-Black";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro-Black"), url("../font/DINPro-Black.otf") format("otf");
}
@font-face {
  font-family: "DINPro-BlackItalic";
  font-style: normal;
  font-weight: normal;
  src: local("DINPro-BlackItalic"), url("../font/DINPro-BlackItalic.otf") format("otf");
}

/*---------------Styling-------------*/
body {
  background-color: #000000;
  color: #666;
  font-family: 'DINPro-Regular';
}
body.p1-gal{
  background-color: #fff;
}
.hidden{
  display:none;
}
.touch-size {
  height: 768px;
  width: 1366px;
  overflow: scroll;
  background-color: #eee; /* dominik 200605 */
}
.touch-size-out{
  background-color: #fff;
}
.mnm-row-cols-7 > * {
  -ms-flex: 0 0 14.2857%;
  flex: 0 0 14.2857%;
  max-width: 14.2857%;
  height: 128px;
}
.titel{
  position: absolute;
}
.col {
  padding-top: 15px;
  padding-bottom: 15px;
  /* background-color: #111; */
}
.mnm-horizontal-row{
  overflow-y:hidden;
  overflow-x:auto;
  white-space: nowrap;
  display: flex;

}
.mnm-horizontal-col{
  display:block;
  min-width: 100px;
  flex-shrink: 0;
  min-width: 200px;
  /* height: 800px; */
  font-size: 1.5rem;
  height: 720px; /*davor 760px, aber dann war ein runter-scroll-Balken zu sehen*/
   /*-----rein gemacht--*/
   
}
.mnm-horizontal-col .col-inner {
  /* background-color: #333; */
  /* border: solid 1px #666; */
  /* height: 360px; *//* dominik 200605 */
  color: #c50000;
  border-left: #c50000 1px dotted;
  /*margin-top geändert, davor 300px;*/
  margin-top: 220px;
  padding-left: 10px;
  width: 400px;

  /* neuer vorschlag dominik 200605 */
    border-top: #c50000 3px solid;
    margin-top: 120px;
    padding-left: 10px;
    width: 450px;
    padding-right: 50px;
    padding-top: 10px;

}

/* dominik 200605 */
.mnm-horizontal-col .col-inner .ueberschrift{
  color: #666;
  font-size: 1.2rem;
}
.datumPage{
  font-size: 1rem;
  color: #c50000;
  margin-bottom: 0.3rem;
}
.ueberschriftPage{
  font-size: 1.5rem;
  color: #c50000;
  margin-bottom: 2rem;
}

.vorschauPic{
  margin-top: 2rem;
}
.vorschau{
  width: 300px;
}


.refresher {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.mnm-page-nav {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 500;
}
.ms-i {
  background-color: #f6f6f6;
  border: 1px solid #eee;
}

.mnm-page-content {
  margin-top: 3rem;
  max-width:1000px;
}
.inner-2sp {
    height:400px;
}


.ueTimeline{
  color:black;
  
}

/* verschachtelte fancybox hintergrund */
.p1-gal .fancybox-bg{
  background: #eeeeee!important;
  opacity: 0.8;
 }

.fancybox-caption{
   color:#666!important;
   background: none!important;
 }

 .unterueberschrift{
   font-size: 1.2em;
 }

 .impressum{
  font-size: 0.8em;
 }