/*---------------Schrifteinbindung-------------*/
@font-face {
    font-family: 'DINPro-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-Regular'), url('../font/FF\ DIN\ Pro\ OT\ Co/DINPro-Regular') format('woff');
    }
  @font-face {
    font-family: 'DINPro-RegularItalic';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-RegularItalic'), url('../font/FF\ DIN\ Pro\ OT\ Co/DINPro-RegularItalic') format('woff');
    }
  @font-face {
    font-family: 'DINPro-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-Medium'), url('../font/FF\ DIN\ Pro\ OT\ Co/DINPro-Medium') format('woff');
    }
  @font-face {
    font-family: 'DINPro-MediumItalic';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-MediumItalic'), url('../font/FF\ DIN\ Pro\ OT\ Co/DINPro-MediumItalic') format('woff');
    }
  @font-face {
    font-family: 'DINPro-Light';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-Light'), url('../font/FF\ DIN\ Pro\ OT\ Co/DINPro-Light') format('woff');
    }
  @font-face {
    font-family: 'DINPro-LightItalic';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-LightItalic'), url('../font/FF\ DIN\ Pro\ OT\ Co/DINPro-LightItalic') format('woff');
    }
  @font-face {
    font-family: 'DINPro-CondRegular';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-CondRegular'), url('../font/FF\ DIN\ Pro\ OT\ Co/DINPro-CondRegular') format('woff');
    }
  @font-face {
    font-family: 'DINPro-CondMedium';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-CondMedium'), url('../font/FF\ DIN\ Pro\ OT\ Co/DINPro-CondMedium') format('woff');
    }
  @font-face {
    font-family: 'DINPro-CondLight';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-CondLight'), url('../font/FF\ DIN\ Pro\ OT\ Co/DINPro-CondLight') format('woff');
    }
  @font-face {
    font-family: 'DINPro-CondBold';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-CondBold'), url('../font/FF\ DIN\ Pro\ OT\ Co/DINPro-CondBold') format('woff');
    }
  @font-face {
    font-family: 'DINPro-CondBlack';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-CondBlack'), url('../font/FF\ DIN\ Pro\ OT\ Co/DINPro-CondBlack') format('woff');
    }
  @font-face {
    font-family: 'DINPro-BoldItalic';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-BoldItalic'), url('../font/FF\ DIN\ Pro\ OT\ Co/DINPro-BoldItalic') format('woff');
    }
   @font-face {
    font-family: 'DINPro-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-Bold'), url('../font/FF\ DIN\ Pro\ OT\ Co/DINPro-Bold') format('woff');
    } 
  @font-face {
    font-family: 'DINPro-Black';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-Black'), url('../font/FF\ DIN\ Pro\ OT\ Co/DINPro-Black') format('woff');
    } 
  @font-face {
    font-family: 'DINPro-BlackItalic';
    font-style: normal;
    font-weight: normal;
    src: local('DINPro-BlackItalic'), url('../font/FF\ DIN\ Pro\ OT\ Co/DINPro-BlackItalic') format('woff');
    } 
  @font-face {
      font-family: 'DINPro Light';
      font-style: normal;
      font-weight: normal;
      src: local('DINPro Light'), url('DINPro-Light tr.woff') format('woff');
  }
  @font-face {
      font-family: 'DINPro Medium';
      font-style: normal;
      font-weight: normal;
      src: local('DINPro Medium'), url('DINPro-Medium tr.woff') format('woff');
  }
  @font-face {
      font-family: 'DINPro Bold';
      font-style: normal;
      font-weight: normal;
      src: local('DINPro Bold'), url('DINPro-Bold tr.woff') format('woff');
  }
  @font-face {
      font-family: 'DINPro-Black';
      font-style: normal;
      font-weight: normal;
      src: local('DINPro-Black'), url('DINPro-Black tr.woff') format('woff');
  }
  
  
  /*---------------Schrifteinbindung-------------*/
  body {
    background-color: #000000;
    color: #666;
    font-family: 'DINPro-Regular';
  }
  .touch-size {
    height: 768px;
    width: 1366px;
    overflow: hidden;
    background-color: #fff;
    
  }
  .hidden{
    display:none;
  }
  
  .row{
    margin-bottom:3rem;
  }
  
  
  .mnm-row-cols-7 > * {
    -ms-flex: 0 0 14.2857%;
    flex: 0 0 14.2857%;
    max-width: 14.2857%;
    height: 128px;
    overflow: hidden;
    padding: 0;
  }
  .mnm-row-cols-7 > .mnm-col-2 {
    -ms-flex: 0 0 28.5714%;
    flex: 0 0 42.8571%;
    max-width: 42.8571%;
    height: 128px;
    overflow: hidden;
  }
  
  .col-inner {
    /* background-color: #333; */
    /* border: solid 1px #666; */
    color: #c50000;
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top:0px;
    left:0px;
  }
  .col-inner.impressum{
    height: 100%;
    color: #c50000;
    
  }
  .handlungsempfehlung{
    font-size: 1.3em;
    padding: 15px;
    padding-left: 20px;
    width: 580px;
    
  }
  .bg-image{
    height: 100%;
    width: 100%;
  
    
  
  }
  .refresher {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  
  .mnm-page-nav {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 500;
  }
  .ms-i {
    background-color: #f6f6f6;
    border: 1px solid #eee;
  }
  
  .mnm-page-content {
    margin-top: 3rem;
  }
  .inner-2sp {
      height:400px;
  }
  
  .mnm-number{
  font-family: 'DINPro-Black';
  font-size: 2.5rem;
  right: -2px;
  bottom: -15px;
  position: absolute;
  
  }
  .mnm-numberImp{
    font-family: 'DINPro-Black';
    font-size: 1.5rem;
    right: -4px;
    bottom: -10px;
    position: absolute;
    
    }
  a{
    color: #666
  }
  .titelPage{
    margin-bottom: 2rem;
  }
  .textPage{
    color: #666;
  }
  
  .mnm-btn-p01 {
    background: no-repeat url(../img/1.jpg) center/cover;
    background-size: auto 300px;
    background-position: 50% 50%;
    
  }
  .mnm-btn-p02 {
    background: no-repeat url(../img/2.jpg) center/cover;
    background-size: auto 250px;
    background-position: 50% 70%;
  }
  .mnm-btn-p03 {
    background: no-repeat url(../img/3.jpg) center/cover;
    background-size: auto 300px;
    background-position: 30% 50%;
  }
  .mnm-btn-p04 {
    background: no-repeat url(../img/4.jpg) center/cover;
    background-size: auto 1000px;
    background-position: 45% 24%;
  }
  .mnm-btn-p05 {
    background: no-repeat url(../img/5.jpg) center/cover;
    background-size: auto 300px;
    background-position: 50% 20%;
  }
  .mnm-btn-p06 {
    background: no-repeat url(../img/6.jpg) center/cover;
    background-size: auto 400px;
    background-position: 5% 60%;
  }
  .mnm-btn-p07 {
    background: no-repeat url(../img/7.jpg) center/cover;
    background-size: auto 500px;
    background-position: 50% 25%;  /*linke Zahl: links-rechts   rechte Zahl:  oben-unten  */
  }
  .mnm-btn-p08 {
    background: no-repeat url(../img/8.jpg) center/cover;
    background-size: auto 800px;
    background-position: 53% 7%;
  }
  .mnm-btn-p09 {
    background: no-repeat url(../img/9.jpg) center/cover;
    background-size: auto 400px;
    background-position: 30% 55%;
  }
  .mnm-btn-p10 {
    background: no-repeat url(../img/10.jpg) center/cover;
    background-size: auto 1000px;
    background-position: 27% 28%;
  }
  .mnm-btn-p11 {
    background: no-repeat url(../img/11.jpg) center/cover;
    background-size: auto 400px;
    background-position: 20% 30%;
  }
  .mnm-btn-p12 {
    background: no-repeat url(../img/12-1.jpg) center/cover;
    background-size: auto 300px;
    background-position: 50% 60%;
  }
  .mnm-btn-p13 {
    background: no-repeat url(../img/13-2.jpg) center/cover;
    background-size: auto 400px;
    background-position: 50% 60%;
  }
  .mnm-btn-p14 {
    background: no-repeat url(../img/14-3.jpg) center/cover;
    background-size: auto 400px;
    background-position: 85% 50%;
  }
  .mnm-btn-p15 {
    background: no-repeat url(../img/15-4.jpg) center/cover;
    background-size: auto 400px;
    background-position: 50% 30%;
  }
  .mnm-btn-p16 {
    background: no-repeat url(../img/16-5.jpg) center/cover;
    background-size: auto 1700px;
    background-position: 50% 26%;
  }
  .mnm-btn-p17 {
    background: no-repeat url(../img/17-6.jpg) center/cover;
    background-size: auto 400px;
    background-position: 33% 50%;
  }
  .mnm-btn-p18 {
    background: no-repeat url(../img/18-12.jpg) center/cover;
    background-size: auto 1100px;
    background-position: 50% 30%;
  }
  
  .mnm-btn-p19 {
    background: no-repeat url(../img/19-7.jpg) center/cover;
    background-size: auto 450px;
    background-position: 50% 45%;
  }
  .mnm-btn-p20 {
    background: no-repeat url(../img/20-8.jpg) center/cover;
    background-size: auto 500px;
    background-position: 50% 80%;
  }
  .mnm-btn-p21 {
    background: no-repeat url(../img/21-9.jpg) center/cover;
    background-size: auto 400px;
    background-position: 50% 45%;
  }
  .mnm-btn-p22 {
    background: no-repeat url(../img/22-16.jpg) center/cover;
    background-size: auto 400px;
    background-position: 50% 30%;
  }
  .mnm-btn-p23 {
    background: no-repeat url(../img/23\ Insektenkasten.jpg) center/cover;
    background-size: auto 400px;
    background-position: 50% 50%;
  }
  .mnm-btn-p24 {
    background: no-repeat url(../img/24-3-12.jpg) center/cover;
    background-size: auto 400px;
    background-position: 55% 8%;
  }
  .mnm-btn-p25 {
    background: no-repeat url(../img/25-11.jpg) center/cover;
    background-size: auto 300px;
    background-position: 20% 20%;
  }
  .mnm-btn-p26 {
    background: no-repeat url(../img/) center/cover;
    background-size: auto 300px;
    background-position: 20% 20%;
  }
  
  .mnm-btn-p27 {
    background: no-repeat url(../img/27-9.jpg) center/cover;
    background-size: auto 300px;
    background-position: 50% 50%;
  }
  .mnm-btn-p28 {
    background: no-repeat url(../img/28-10.jpg) center/cover;
    background-size: auto 600px;
    background-position: 5% 70%;
  }
  .mnm-btn-p29 {
    background: no-repeat url(../img/29-8.jpg) center/cover;
    background-size: auto 400px;
    background-position: 55% 30%;
  }
  .mnm-btn-p30 {
    background: no-repeat url(../img/30-7.jpg) center/cover;
    background-size: auto 350px;
    background-position: 50% 45%;
  }
  .mnm-btn-p31 {
    background: no-repeat url(../img/31-1-6.jpg) center/cover;
    background-size: auto 900px;
    background-position: 50% 80%;
  }
  .mnm-btn-p32 {
    background: no-repeat url(../img/32-2.jpg) center/cover;
    background-size: auto 500px;
    background-position: 50% 75%;
  }
  .mnm-btn-p33 {
    background: no-repeat url(../img/33-1.jpg) center/cover;
    background-size: auto 300px;
    background-position: 50% 50%;
  }
  .mnm-btn-p35 {
    background: no-repeat url(../img/35-1.jpg) center/cover;
    background-size: auto 700px;
    background-position: 50% 8%;
  }
  .mnm-btn-p36 {
    background: no-repeat url(../img/36-3.jpg) center/cover;
    background-size: auto 600px;
    background-position: 85% 23%;
  }
  .mnm-btn-p37 {
    background: no-repeat url(../img/37-4.jpg) center/cover;
    background-size: auto 800px;
    background-position: 75% 8%;
  }
  .mnm-btn-p38 {
    background: no-repeat url(../img/38-5.jpg) center/cover;
    background-size: auto 600px;
    background-position: 50% 55%;
  }
  .mnm-btn-p39 {
    background: no-repeat url(../img/39\ Silberbaeumchen.jpg) center/cover;
    background-size: auto 500px;
    background-position: 50% 70%;
  }
  .mnm-btn-p40 {
    background: no-repeat url(../img/40-8.jpg) center/cover;
    background-size: auto 400px;
    background-position: 50% 50%;
  }
  .mnm-btn-p41 {
    background: no-repeat url(../img/41-9.jpg) center/cover;
    background-size: auto 500px;
    background-position: 60% 43%;
  }
  .mnm-btn-p42 {
    background: no-repeat url(../img/42-10.jpg) center/cover;
    background-size: auto 900px;
    background-position: 78% 58%;
  }
  
  .mnm-btn-pImpressum {
    background: no-repeat url(../img/) center/cover;
    background-size: auto 500px;
    background-position: 70% 60%;
    
  }
  
  .touch-size {
    background-color: #eee;
  }

  